@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    display: none;
}

html, body {
  -webkit-user-select: none !important; 
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}